<div id="aboutme" class="container">
		<img class="col-sm-6" id="profilepic" src="img/profile.png"></img>
		<h3>Hi!</h3>
		<p>
			My name is Gabriel and I'm a student at the University of Washington.
			I'm currently a double-degree studying Informatics and Business Administration, 
			majoring in Operations and Supply-Chain Management.
			In my free time I dabble in a sport called Rugby. Having recently stopped competitive play
			due to injury, I now am an assistant coach with the UW Rugby Club. On top of that, 
			I keep myself busy working at the UW Office Of Animal Welfare as a web services developer.
		</p>
</div>